body {
  margin-top: 1.0em;
  font-family: "Helvetica,Arial,FreeSans"; 
  color: black;
}

/* blocks */

#container {
  margin: 0 auto;
  padding: 0.1em 1em;
  width: 700px;
  background: white;
  border: 1em solid #ff1f05;
}
.description {
  font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;
}
.screenshot {
  margin-left: 4em;
  padding: 1px;
  font-family: serif;
}
.screenshot img {
  border: 1px solid gray;
}
.footer {
  text-align:center; padding-top:30px; font-style: italic; 
}

/* headings */

h1 {
  font-size: 3.8em; color: #f11; margin-bottom: 3px; 
}
h1 .small {
  font-size: 0.4em; 
}
h1 a {
  text-decoration: none 
}
h2 {
  font-size: 1.5em; color: #f11; 
}
h3 {
  color: #f11; 
}

/* others */

a {
  color: #f11; 
}
pre {
  background: #000; color: #fff; padding: 15px;
}
hr {
  border: 0; width: 80%; border-bottom: 1px solid #aaa
}
